body {
  background-color: #f0ecfa;
  font-family: Roboto, sans-serif;
}

.box {
  background: url(https://s3.amazonaws.com/shecodesio-production/uploads/files/000/116/876/original/photo-1612404748636-568ca4155994.jpg?1709049107);
  max-width: 600px;
  background-color: rgb(255, 255, 255);
  border: 1px;
  border-style: solid;
  border-radius: 16px;
  border-color: white;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
  display: block;
  margin: 45px auto;
  padding: 30px;
}
form {
  margin-top: 20px;
  text-align: center;
  padding-bottom: 30px;
}
p {
  margin: 16px 0px;
}
.writing-form {
  padding: 10px 250px 10px 10px;
  border: 1px solid;
  border-radius: 5px;
  border-color: #f9f7fe;
  font-size: 15px;
  color: rgb(126, 125, 125);
  margin-right: 10px;
  background-color: #f0ecfa;
}
#submit {
  padding-block: 10px;
  padding-inline: 20px;
  border: 1px solid;
  border-radius: 5px;
  border-color: #885df1;
  font-size: 15px;
  color: white;
  background-color: #885df1;
}
.current-weather-block {
  padding-top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: nowrap;
  align-content: normal;
  align-items: normal;
}

.city-name {
  font-size: 45px;
  margin: 0px auto;
}
strong {
  color: #c71585;
}
.icon img {
  width: 120px;
}
.current-temperature {
  display: flex;
  flex-direction: row;
}
.current-city-weather {
  padding-top: 5px;
}
.current-temperature-number {
  font-size: 100px;
  font-weight: bold;
}
.current-temperature-unit {
  font-size: 35px;
  margin-top: 14px;
}
.forecast-information {
  padding-top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.weather-forecast-day {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.forecast-icon {
  width: 100px;
}
.forecast-day {
  text-align: center;
  color: rgba(0, 0, 0, 0.4);
}
.forecast-temperature {
  text-align: center;
}
footer {
  margin-top: 60px;
  text-align: center;
  color: rgba(0, 0, 0, 0.6);
  font-size: 14px;
}
footer a {
  color: #885df1;
}
